<div class="search-input">
  <mat-form-field appearance="outline">
    <mat-label>Details of countries</mat-label>
    <input [formControl]="searchControl" matInput />
    <mat-icon matSuffix class="search-input-icon">search</mat-icon>
  </mat-form-field>
</div>

@if (countries$ | async; as countries) {
  @if (loading()) {
    <div class="result">
      <mat-spinner></mat-spinner>
    </div>
  } @else {
    @if (countries.length > 0) {
      <app-results class="result" [countries]="countries"></app-results>
    } @else {
      <div class="result">
        <p>Enter a country name to search</p>
      </div>
    }
  }
} @else {
  @if (inputEmpty()) {
    <div class="result">
      <p>Enter a country name to search</p>
    </div>
  } @else if (loading()) {
    <div class="result">
      <mat-spinner></mat-spinner>
    </div>
  } @else {
    <div class="result">
      <p>No results found</p>
    </div>
  }
}
