<div class="search-input">
  <mat-form-field appearance="outline">
    <mat-label>Details of countries</mat-label>
    <input [formControl]="searchControl" matInput />
    <mat-icon matPrefix class="search-input-icon">search</mat-icon>
  </mat-form-field>
</div>

@if (countries$ | async; as countries) {
  @if (loading()) {
    <div class="result-container">
      <mat-spinner></mat-spinner>
    </div>
  } @else {
    <ng-container>
      <app-results class="result-container" [countries]="countries" [inputEmpty]="inputEmpty()"></app-results>
    </ng-container>
  }
} @else if (loading()) {
  <div class="result-container">
    <mat-spinner></mat-spinner>
  </div>
} @else {
  <div class="result-container">
    <p>Enter a country name to search</p>
  </div>
}
