.search-input{
    display: flex;
    justify-content: center;
    padding: 1.5rem;
    &-icon {
        color: rgba(0, 0, 0, 0.45);
      }
}

.result-container{
    display: flex;
    justify-content: center;
    padding: 1.5rem;
  }


